@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
  --primary-color: #047769;
  --secondary-color: #03695c;
  --dark-gray: #6b7280;
  --off-white: #eeeeee;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  width: 100%;
}

h2 {
  margin: 0;
}

h3 {
  color: #11999e;
  font-family: 'Montserrat', sans-serif;
  margin: 4px 0;
}

hr {
  border: dotted var(--primary-color) 6px;
  border-bottom: none;
  width: 6%;
  margin: 5px auto;
}

.links {
  box-sizing: border-box;
  padding: 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  gap: 10px;
}

.link {
  box-sizing: border-box;
  text-decoration: none;
  padding: 0;
}

.link-primary {
  padding: 0.6rem 1.2rem;
  border-radius: 0.4rem;
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  color: #fff;
}

.link-secondary {
  padding: 0.6rem 1.2rem;
  border-radius: 0.4rem;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.link-primary:hover {
  background-color: var(--secondary-color);
  color: var(--off-white);
  border: 1px solid var(--primary-color);
}

.link-secondary:hover {
  color: #fff;
  background-color: var(--primary-color);
}

.list-non-bullet {
  list-style: none;
  padding-inline-start: 0px;
  margin: 0px;
}

.list-item-inline {
  display: inline;
  padding: 0rem;
}

/* navigation start*/
.navigation {
  background-color: var(--primary-color);
  color: white;
  padding: 1rem 0.5rem 0.5rem;
}

.nav-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-between;
  gap: 10px;
}

.nav-brand {
  font-size: x-large;
  order: 0;
  flex-grow: 4;
  flex-shrink: 0;
  align-self: flex-start;
  padding: 0.5rem;
}

.nav-list-container {
  padding-top: 0.5rem;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  gap: 10px;
  align-items: flex-end;
  flex-grow: 1;
}

.nav-list-item {
  flex-grow: 1;
  flex-basis: auto;
  align-self: flex-end;
}

.navigation .nav-brand {
  font-weight: bold;
}

.nav-brand a {
  text-decoration: none;
  color: inherit;
}

.navigation .link {
  color: white;
}

.navigation .link-active {
  font-weight: bold;
}
/* navigation end*/

/* main start */
.main-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-content: space-around;
  align-items: stretch;
  gap: 10px;
}

.main-item {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-content: space-around;
  align-items: center;
  gap: 10px;
  flex: 1 1 0;
}

.container-center {
  margin: 0;
  padding: 2rem 1rem;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .hero-img {
    max-width: 35%;
    display: block;
    margin: auto;
  }
}

@media screen and (max-width: 768px) {
  .hero-img {
    max-width: 80%;
    display: block;
    margin: auto;
  }
}

.hero-heading {
  font-size: x-large;
  text-align: center;
  color: var(--dark-gray);
  margin-top: 1rem;
  padding: 1rem;
}

.description {
  margin: 0;
  padding: 0 0.5rem;
  text-align: justify;
  max-width: 700px;
}

.heading-inverted {
  color: var(--primary-color);
}

.ow {
  background-color: var(--off-white);
}

.showcase-list-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-content: space-around;
  align-items: stretch;
  gap: 10px;
}

.showcase-list-item {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-content: space-around;
  align-items: center;
  gap: 10px;
  flex: 1 1 0;
}
/* main end */

/* footer start */
.footer {
  background-color: var(--primary-color);
  padding: 2rem 1rem;
  text-align: center;
  color: white;
}

.footer-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 5px;
}

.footer-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 20px;
  align-items: center;
  align-content: center;
}

.footer .link {
  color: white;
}

.footer .footer-header {
  font-weight: bold;
  font-size: large;
}

.footer ul {
  padding-inline-start: 0px;
}

.link-img {
  height: 30px;
  width: 30px;
  margin: 0.8%;
}
/* footer end */
