<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blogs | Pushpendra Sharma</title>
    <link rel="stylesheet" href="../styles.css" />
  </head>
  <body>
    <nav class="navigation nav-container">
      <div class="nav-brand"><a href="/">IAmDeveloper</a></div>
      <ul class="list-non-bullet nav-list-container">
        <li class="list-item-inline nav-list-item">
          <a class="link" href="../index.html">Home</a>
        </li>
        <li class="list-item-inline nav-list-item">
          <a class="link" href="projects.html">Projects</a>
        </li>
        <li class="list-item-inline nav-list-item">
          <a class="link link-active" href="/">Blogs</a>
        </li>
      </ul>
    </nav>

    <header class="hero">
      <h1 class="hero-heading">
        read my <span class="heading-inverted">blogs</span>
      </h1>
    </header>

    <ul class="list-non-bullet showcase-list-container">
      <li>
        <article class="container-center ow showcase-list-item">
          <h2>dummy blog 3</h2>
          <small>Febraury, 2022</small>
          <p class="description">
            Dummy text: Its function as a filler or as a tool for comparing the
            visual impression of different typefaces. It will later be filled with 'real' content.
          </p>
          <div class="links">
            <a class="link link-primary" href="">Read More</a>
          </div>
        </article>
      </li>

      <li>
        <article class="container-center showcase-list-item">
          <h2>dummy blog 2</h2>
          <small>Febraury, 2022</small>
          <p class="description">
            Dummy text: Its function as a filler or as a tool for comparing the
            visual impression of different typefaces. It will later be filled with 'real' content.
          </p>
          <div class="links">
            <a class="link link-primary" href="">Read More</a>
          </div>
        </article>
      </li>

      <li>
        <article class="container-center ow showcase-list-item">
          <h2>dummy blog 1</h2>
          <small>Febraury, 2022</small>
          <p class="description">
            Dummy text: Its function as a filler or as a tool for comparing the
            visual impression of different typefaces. It will later be filled with 'real' content.
          </p>
          <div class="links">
            <a class="link link-primary" href="">Read More</a>
          </div>
        </article>
      </li>
    </ul>

    <footer class="footer footer-container">
      <div class="footer-header">social media presence</div>
      <ul class="list-non-bullet footer-item">
        <li class="list-item-inline">
          <a class="link" href="https://github.com/Pushpendra-Sharma">github
          </a>
        </li>
        <li class="list-item-inline">
          <a class="link" href="https://twitter.com/100Pushpendra">twitter
          </a>
        </li>
        <li class="list-item-inline">
          <a class="link" href="https://www.linkedin.com/in/ietl-pushpendra-sharma/">linkedin
          </a>
        </li>
      </ul>
    </footer>
  </body>
</html>
