<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projects | Pushpendra Sharma</title>
    <link rel="stylesheet" href="../styles.css" />
  </head>
  <body>
    <nav class="navigation nav-container">
      <div class="nav-brand"><a href="/">IAmDeveloper</a></div>
      <ul class="list-non-bullet nav-list-container">
        <li class="list-item-inline nav-list-item">
          <a class="link" href="../index.html">Home</a>
        </li>
        <li class="list-item-inline nav-list-item">
          <a class="link link-active" href="/">Projects</a>
        </li>
      </ul>
    </nav>

    <header class="hero">
      <h1 class="hero-heading">
        see my <span class="heading-inverted"> code</span>
      </h1>
    </header>

    <ul class="list-non-bullet showcase-list-container">
      <li>
        <section class="container-center ow showcase-list-item">
          <h2>Quiz app</h2>
          <small>March, 2023</small>
          <p class="description">
           An Quiz app built for home assignment. Made using
            <strong>ReactJS, Redux Toolkit & Tailwindcss.</strong>
          </p>
          <div class="links">
            <a class="link link-primary" href="https://gen-quiz.netlify.app/"
              >Live Project</a
            >
            <a
              class="link link-secondary"
              href="https://github.com/Pushpendra-Sharma/quiz"
              >View Source</a
            >
          </div>
        </section>
      </li>

      <li>
        <section class="container-center showcase-list-item">
          <h2>Swiggy-food-villa</h2>
          <small>March, 2023</small>
          <p class="description">
            A food order app like swiggy. Made using
            <strong>ReactJS, Redux Toolkit, TypeScript & Tailwind CSS.</strong>
          </p>
          <div class="links">
            <a class="link link-primary" href="https://swiggy-food.netlify.app/"
              >Live Project</a
            >
            <a
              class="link link-secondary"
              href="https://github.com/Pushpendra-Sharma/swiggy"
              >View Source</a
            >
          </div>
        </section>
      </li>

      <li>
        <section class="container-center ow showcase-list-item">
          <h2>NeuKart</h2>
          <small>December, 2022</small>
          <p class="description">
            NeuKart is an e-commerce store for electronic gadgets mobiles &
            laptops. Made using <strong>ReactJS, Redux, NodeJS.</strong>
            It uses an API to get info about electronic items and is also mobile
            responsive.
          </p>
          <div class="links">
            <a class="link link-primary" href="https://neukart.netlify.app/"
              >Live Project</a
            >
            <a
              class="link link-secondary"
              href="https://github.com/Pushpendra-Sharma/neu-kart"
              >View Source</a
            >
          </div>
        </section>
      </li>

      <li>
        <section class="container-center showcase-list-item">
          <h2>profit-or-loss</h2>
          <small>February, 2022</small>
          <p class="description">
            A website which helps the user how much profit or loss he/she is
            making in percentage & absolute value.
          </p>
          <div class="links">
            <a
              class="link link-primary"
              href="https://claculate-profit-or-loss.netlify.app/"
              >Live Project</a
            >
            <a
              class="link link-secondary"
              href="https://github.com/Pushpendra-Sharma/profit-or-loss"
              >View Source</a
            >
          </div>
        </section>
      </li>

      <li>
        <section class="container-center ow showcase-list-item">
          <h2>palindrome-birthday</h2>
          <small>February, 2022</small>
          <p class="description">
            An app which checks whether your birthday is a palindrome or not and
            also finds the nearest palindrome date.
          </p>
          <div class="links">
            <a
              class="link link-primary"
              href="https://checkif-birthday-palindrome.netlify.app/"
              >Live Project</a
            >
            <a
              class="link link-secondary"
              href="https://github.com/Pushpendra-Sharma/palindrome-birthday"
              >View Source</a
            >
          </div>
        </section>
      </li>

      <li>
        <section class="container-center showcase-list-item">
          <h2>learn triangles</h2>
          <small>February, 2022</small>
          <p class="description">
            A website which helps you to learn about triangles.
          </p>
          <div class="links">
            <a
              class="link link-primary"
              href="https://learning-triangles.netlify.app/"
              >Live Project</a
            >
            <a
              class="link link-secondary"
              href="https://github.com/Pushpendra-Sharma/learn-triangles"
              >View Source</a
            >
          </div>
        </section>
      </li>

      <li>
        <section class="container-center ow showcase-list-item">
          <h2>is your birthday lucky</h2>
          <small>January, 2022</small>
          <p class="description">
            A website which can help you to check whether your birthday is lucky
            or not.
          </p>
          <div class="links">
            <a
              class="link link-primary"
              href="https://check-bday-luck.netlify.app/"
              >Live Project</a
            >
            <a
              class="link link-secondary"
              href="https://github.com/Pushpendra-Sharma/lucky-birthday"
              >View Source</a
            >
          </div>
        </section>
      </li>

      <li>
        <section class="container-center showcase-list-item">
          <h2>cash-register manager</h2>
          <small>January, 2022</small>
          <p class="description">
            An app which helps the user by telling how can he/she return the
            change to the customer with minimum number of notes.
          </p>
          <div class="links">
            <a
              class="link link-primary"
              href="https://manage-cash-bill.netlify.app/"
              >Live Project</a
            >
            <a
              class="link link-secondary"
              href="https://github.com/Pushpendra-Sharma/cash-register-manager"
              >View Source</a
            >
          </div>
        </section>
      </li>

      <li>
        <section class="container-center ow showcase-list-item">
          <h2>goodFood</h2>
          <small>January, 2022</small>
          <p class="description">
            A food app that will help you find some good recommendations for all
            the genre. Made using <strong>ReactJS</strong>.
          </p>
          <div class="links">
            <a class="link link-primary" href="https://us8jw.csb.app/"
              >Live Project</a
            >
            <a
              class="link link-secondary"
              href="https://github.com/Pushpendra-Sharma/good-food"
              >View Source</a
            >
          </div>
        </section>
      </li>

      <li>
        <section class="container-center showcase-list-item">
          <h2>emoji interpreter</h2>
          <small>January, 2022</small>
          <p class="description">
            Learn some fruit names with emojis. Checkout this library of fruit
            emojis with meaning. Made using <strong>ReactJS</strong>.
          </p>
          <div class="links">
            <a class="link link-primary" href="https://0ry0k.csb.app/"
              >Live Project</a
            >
            <a
              class="link link-secondary"
              href="https://github.com/Pushpendra-Sharma/Emoji-interpreter"
              >View Source</a
            >
          </div>
        </section>
      </li>

      <li>
        <section class="container-center ow showcase-list-item">
          <h2>Shakespearen English translator</h2>
          <small>January, 2022</small>
          <p class="description">
            An app to translate modern day English to Shakespearean English.
          </p>
          <div class="links">
            <a
              class="link link-primary"
              href="https://translate-to-shakespearen.netlify.app/"
              >Live Project</a
            >
            <a
              class="link link-secondary"
              href="https://github.com/Pushpendra-Sharma/Shakespeare-Translator-app"
              >View Source</a
            >
          </div>
        </section>
      </li>

      <li>
        <section class="container-center showcase-list-item">
          <h2>chat with minions</h2>
          <small>January, 2022</small>
          <p class="description">
            Are you a fan of minions? Use the translator to convert your text
            from English to Minion speak or Banana language.
          </p>
          <div class="links">
            <a
              class="link link-primary"
              href="https://chatwithminions.netlify.app/"
              >Live Project</a
            >
            <a
              class="link link-secondary"
              href="https://github.com/Pushpendra-Sharma/neogcamp-banana-speak"
              >View Source</a
            >
          </div>
        </section>
      </li>

      <li>
        <section class="container-center ow showcase-list-item">
          <h2>Quiz App</h2>
          <small>January, 2022</small>
          <p class="description">
            A CLI app built with <strong>nodeJS</strong>. It is about popular
            abbreviations for institutes/organizations.
          </p>
          <div class="links">
            <a
              class="link link-primary"
              href="https://replit.com/@pushpendra-ietl/QuizApp?embed=true"
              >Live Project</a
            >
            <a
              class="link link-secondary"
              href="https://github.com/Pushpendra-Sharma/QuizApp"
              >View Source</a
            >
          </div>
        </section>
      </li>

      <li>
        <section class="container-center showcase-list-item">
          <h2>how well do you know me?</h2>
          <small>January, 2022</small>
          <p class="description">
            A CLI app built with <strong>nodeJS</strong>. This is a app for how
            well you know me
          </p>
          <div class="links">
            <a
              class="link link-primary"
              href="https://replit.com/@pushpendra-ietl/First-CLI-app?embed=true"
              >Live Project</a
            >
            <a
              class="link link-secondary"
              href="https://github.com/Pushpendra-Sharma/First-CLI-app"
              >View Source</a
            >
          </div>
        </section>
      </li>

      <li>
        <section class="container-center ow showcase-list-item">
          <h2>Dice Challenge</h2>
          <small>March, 2021</small>
          <p class="description">
            A dice game where user clicks on a dice images and it updates
            randomly. The player who gets greater number on dice is the winner.
          </p>
          <div class="links">
            <a
              class="link link-primary"
              href="https://dice-challange-vanillajs.netlify.app/"
              >Live Project</a
            >
            <a
              class="link link-secondary"
              href="https://github.com/Pushpendra-Sharma/Dicee-Challenge"
              >View Source</a
            >
          </div>
        </section>
      </li>
    </ul>

    <footer class="footer footer-container">
      <ul class="list-non-bullet footer-item">
        <li class="list-item-inline">
          <a
            class="link"
            href="https://www.linkedin.com/in/ietl-pushpendra-sharma/"
          >
            <img src="../images/linkedin.svg" class="link-img" alt="linkedin" />
          </a>
        </li>
        <li class="list-item-inline">
          <a class="link" href="https://github.com/Pushpendra-Sharma">
            <img src="../images/github.svg" class="link-img" alt="'github" />
          </a>
        </li>
        <li class="list-item-inline">
          <a
            class="link"
            href="https://twitter.com/https://twitter.com/ietl_pushpendra"
            ><img src="../images/twitter.svg" class="link-img" alt="twitter" />
          </a>
        </li>
      </ul>
    </footer>
  </body>
</html>
